<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <!-- when server require socket.io, it'll automatically set above location for socket.io script for frontend -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/index.css" />
    <title>Private Chat</title>
  </head>
  <body>
    <form class="usernameForm">
      <input
        type="text"
        class="name"
        name="name"
        placeholder="Enter name"
        size="50"
      />
      <button type="submit">Login</button>
    </form>
    <div>
      <p>
        Sender: <span class="sender"></span> <br />
        Receiver: <span class="receiver"></span>
      </p>
    </div>
    <div class="flex-container">
      <!-- USERLIST START -->
      <div class="flex-userslist">
        Online users:
        <ul class="usersList"></ul>
      </div>
      <!-- USERLIST END -->

      <!-- GROUP MESSAGE START -->
      <div class="flex-groupMessages">
        <form class="groupMessageForm">
          <input
            type="text"
            class="groupMessage"
            placeholder="type a message to group..."
          />
          <button type="submit">Send</button>
        </form>
        <ul class="gMessages"></ul>
      </div>
      <!-- GROUP MESSAGE END -->

      <!-- PRIVATE MESSAGE START -->
      <div class="flex-messages">
        <form class="messageForm hidden">
          <input
            type="text"
            class="typeMessage"
            placeholder="type a message..."
          />
          <button type="submit">Send</button>
        </form>
        <ul class="messages"></ul>
      </div>
      <!-- PRIVATE MESSAGE END -->
    </div>
    <script src="/js/socketClient.js"></script>
  </body>
</html>
