<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <!-- when server require socket.io, it'll automatically set above location for socket.io script for frontend -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/index.css" />
    <title>Private Chat</title>
  </head>
  <body>
    <form action="#">
      <input type="text" id="name" name="name" placeholder="Enter name" />
      <input type="submit" />
    </form>
    <div>
      <p>
        Sender: <span class="sender"></span> <br />
        Receiver: <span class="receiver"></span>
      </p>
    </div>
    <div class="flex-container">
      <div class="flex-item">
        <ul class="usersList"></ul>
      </div>
      <div class="flex-item">
        <ul class="usersList"></ul>
      </div>
    </div>
    <script src="/js/socketClient.js"></script>
  </body>
</html>
